body {
  box-sizing: border-box;
}

/* Fondo del la card team */

.fondo-oscuro-claro {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(252, 255, 255, 1) 100%);
}


.fondo-oscuro-claro-dark {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(252, 255, 255, 1) 100%);
}

/* Fondo del la mision y vision */
.fondo-claro-oscuro {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(170, 169, 169, 0.97) 0%, rgba(252, 255, 255, 1) 100%);
}

.fondo-claro-oscuro-dark {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(17, 24, 39, 1) 0%, rgba(7, 10, 18, 0.992) 100%);
}


